<!-- <app-nav></app-nav> -->
<!-- <app-http-practice></app-http-practice> -->
<!-- <app-real-time-form></app-real-time-form> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-contact-form></app-contact-form> -->
 
 <div class="main-container">
    <div class="nav-container">
        <ul class="item">
            <li [routerLinkActive] = "'active'" [routerLinkActiveOptions]="{exact:true}"  class="i"><a routerLink="">Home</a></li>
            <li [routerLinkActive] = "'active'" class="i"><a routerLink="about">About</a></li>
            <li [routerLinkActive] = "'active'" class="i"><a routerLink="contact">Contact</a></li>
            <li [routerLinkActive] = "'active'" class="i"><a routerLink="courses">Courses</a></li>
            <li [routerLinkActive] = "'active'" class="i"><a routerLink="comp1">comp1</a></li>
            <li [routerLinkActive] = "'active'" class="i"><a routerLink="comp2">comp2</a></li>

        </ul>
    </div>
    <app-loader></app-loader>

    <div class="component-container">
        <router-outlet></router-outlet>
    </div>
 </div>
 
 <!-- <app-persons></app-persons> -->



 <!-- <app-contact-form></app-contact-form> -->



<!-- <app-directive>

</app-directive> -->


<!-- <ul class="nav nav-pills">
<li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li>
<li [class.active]="viewMode=='list'"><a (click)="vve
    iewMode='list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map content view</div>
    <div *ngSwitchCase="'list'">List content view</div>
    <div *ngSwitchDefault>other</div>
</div> -->

<!-- <div *ngIf="courses.length===0;then noCourse else courseList">
</div>
<ng-template #noCourse>No courses</ng-template>
<ng-template #courseList>List of Courses</ng-template> -->

<!-- <app-panel>
    <div class="heading">heading</div>
    <div class="body">body</div>
</app-panel> -->